* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h2 {
    padding: 20px 0px 20px 20px;
    color: #333;
    background: white;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    text-align: start;
}

p {
    text-align: start;
}


/* Top Bar */
.top-bar {
    background: #0a5c36;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    height: 25px;
}

.top-bar-left {
    margin-left: 100px;
}

.top-bar-center {
    display: flex;
    justify-content: center;
}

.top-bar-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.topA {
    color: white;
    text-decoration: none;
    text-align: center;
}

/* navbar */
nav {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.navA {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.nav-div {
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
    gap: 1rem;
    justify-content: flex-start;
}

.logo {
    width: 40px;
    height: 40px;
}

.shopcart {
    font-weight: bold;
}



/* Banner */

.banner {
    background: #e7dfd3;
    padding: 80px 40px;
    display: flex;
    align-items: center;
    width: 80%;
}

.banner-img {
    width: 50%;
    padding-left: 15px;
}

form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 120%;
    margin-right: 40px;
    background-color: #dbdbdb;
    padding: 7px 20px;
    border-radius: 2rem;

}

.buscar {
    padding: 10px 20px;
}

input {
    text-align: center;
    border: 0px;
    background-color: #dbdbdb;
    text-align: start;
    outline: none;

}



.bannerButton {
    background: #0a5c36;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 15px 30px;
    font-size: 16px;
    margin-top: 20px;
    width: 50%;
}

/* Principal */

.principal-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1em;
}

.principal-nav-div {
    display: flex;
    overflow: auto hidden;
    margin-left: 30px;
}

.principal-nav-divD {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    width: 30%;
    margin: 0 40px;
}


.principalA {
    background-color: #e1e1e1;
    padding: 10px 15px;
    border-radius: 25px;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    align-content: center;
    text-wrap: nowrap;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.principalA-D {
    background-color: #ffffff;
    border: 1px solid #0a5c36;
    padding: 10px 15px;
    border-radius: 35px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 140px;
}

/* Productos */

.fa-heart {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 28px !important;
    width: 28px !important;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.fa-heart:hover {
    background-color: rgb(255, 122, 122);
    color: white;
}

.prod-container {
    position: relative;
}

.producto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background: white;
}

.prod-img {
    position: relative;
    z-index: 1;
}

.producto {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.producto-button {
    color: #0a5c36;
    background: white;
    border: 2px solid #0a5c36;
    border-radius: 35px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    align-self: self-end;
}

.producto-detalles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.precio {
    text-align: end;
}

footer {
    background: #ffffff;
    height: 100px;
}